<h1>All sales vinyl</h1>
<h3>available records</h3>
<% if @albums.any? %>
  <ul>
    <% @albums.each do |album| %>
      <li><a href="/albums/<%= album.id %>"><%= album.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>there are currently no albums to display</p>
<% end %>

<a href="/albums/new">Add a new album</a>